# --- Entornos Virtuales ---
venv/
env/
.env

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Datos (MUY IMPORTANTE PARA TU TESIS) ---
# Ignoramos la carpeta data para no subir gigas de curvas de luz
data/
dataset/
*.csv
*.fits
*.png



# --- IDEs y Sistemas ---
.vscode/
.idea/
.DS_Store
Thumbs.db
results/

# --- Modelos (Opcional) ---
# Si tus modelos pesan más de 100MB, GitHub los rechazará.
# Descomenta abajo si prefieres no subirlos todavía.
# models/
